In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('trending.csv')

In [4]:
df

,Unnamed: 0,id,original_title,original_language,release_date,popularity,vote_average,vote_count,media_type,adult
0,0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.800,187,movie,False
1,1,677179,Creed III,English,2023-03-01,1537.879,7.200,561,movie,False
2,2,726759,Tetris,English,2023-03-15,66.661,7.700,100,movie,False
3,3,76600,Avatar: The Way of Water,English,2022-12-14,10224.280,7.742,6335,movie,False
4,4,849869,길복순,Korean,2023-02-17,33.985,6.900,39,movie,False
...,...,...,...,...,...,...,...,...,...,...
16075,16075,117465,NaN,Japanese,NaN,62.392,10.000,4,tv,False
16076,16076,933419,Champions,English,2023-03-09,104.315,6.512,43,movie,False
16077,16077,208891,NaN,Japanese,NaN,59.825,8.667,3,tv,False
16078,16078,878375,On a Wing and a Prayer,English,2023-04-06,53.714,8.000,4,movie,False
16079,16079,82856,NaN,English,NaN,1108.646,8.488,8697,tv,False

In [8]:
df=df.drop(labels='Unnamed: 0', axis=1) #Removing extra index column

In [15]:
type(df['release_date'][0])

str

In [21]:
#Web Scraping

tables = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [23]:
type(tables[0])

pandas.core.frame.DataFrame

In [24]:
fail_banks = tables[0]

In [25]:
fail_banks.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536

In [26]:
fail_banks.columns

Index(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype='object')

In [27]:
close_dates = fail_banks['Closing DateClosing']

In [28]:
close_dates

0         March 12, 2023
1         March 10, 2023
2       October 23, 2020
3       October 16, 2020
4          April 3, 2020
             ...
560        July 27, 2001
561          May 3, 2001
562     February 2, 2001
563    December 14, 2000
564     October 13, 2000
Name: Closing DateClosing, Length: 565, dtype: object

In [29]:
close_dates = pd.to_datetime(close_dates)
close_dates

0     2023-03-12
1     2023-03-10
2     2020-10-23
3     2020-10-16
4     2020-04-03
         ...
560   2001-07-27
561   2001-05-03
562   2001-02-02
563   2000-12-14
564   2000-10-13
Name: Closing DateClosing, Length: 565, dtype: datetime64[ns]